.iconBtn {
    padding: 0;
    border: none;
    background: none;
}

.iconBtn:focus {
    outline-style: none;
}

.iconBtn:active {
    opacity: .7;
}

#saveIcon:hover {
    color: rgb(0, 0, 87);
}

#removeIcon:hover {
    color: rgb(87, 0, 0);
}