#topBar {
    background-image: url("./space.jpg");
    height: 125px;
    border-bottom: 4px rgb(31, 31, 31) solid;
}

#title {
    font-size: 300%;
    font-weight: bold;
    /* letter-spacing: 5px; */
    color: rgba(189, 189, 189);
    opacity: 0.52;
    margin-right: 0;
}

#title:hover {
    opacity: .58;
}

@media (max-width: 760px) {
    #title {
        font-size: 6.3vw;
    }
}