#navButtons {
    margin-top: 15px;
}

#loginMessage {
    color: grey;
    margin-bottom: 0;
    margin-top: 4px;
    text-align: right;
    padding-right: 40px;
}

#login-span:hover {
    color: darkblue;
    cursor: pointer;
}

.nav-space {
    width: 15px;
}

@media (max-width: 767px) {
    #loginMessage {
        text-align: center;
        padding-right: 0;
    }    
}

.nav-button {
    width: 105px;
    font-size: 19px;
}

#button-div {
    padding: 0;
}

#inputPasswordLogin, #inputPasswordRegisterConfirm {
    margin-bottom: 15px;
}